:root {
    --cafe-oscuro: #2e1a0f;
    --cafe-medio: #6f4436;
    --cafe-tostado: #a9744f;
    --crema: #f7ede1;
    --acento: #d4a24e;
}

body{
    background-color: var(--cafe-oscuro);
    color: var(--crema);
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
}

header{
    background-color: var(--cafe-medio);
    color: var(--crema);
    text-align: center;
    padding: 20px;
}

nav{
    display: flex;
    justify-content:center;
    gap: 20px;
    margin-top: 15px;
}
nav a{
    color: var(--crema);
    text-decoration: none;
    margin:10px;
}

main{
    width: 80%;
    margin: 20px auto;
    background-color: var(--cafe-medio);
    padding: 20px;
    border: 2px solid var(--acento);
    border-radius: 10px;
}

form{
    margin-top: 20px;
}

label{
    font-weight: bold;
    color: var(--crema);
}

input,
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--acento);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--crema);
    color: var(--cafe-oscuro);
}

input[type="submit"]{
    width: auto;
    background-color: var(--acento);
    color: var(--cafe-oscuro);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color: var(--cafe-tostado);
}

@media (max-width:768px){
    header{ padding: 15px; }
    nav{ flex-direction:column; align-items:center; gap:10px; }
    main{ width: 95%; padding: 15px; }
    input,
    textarea{
        width: 100%;
    }
}

.boton-modo{
    margin-top: 14px;
    background-color: var(--acento);
    color: var(--cafe-oscuro);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

body.claro{
    background-color: var(--crema);
    color: var(--cafe-oscuro);
}
body.claro header{
    background-color: var(--crema);
    color: var(--cafe-oscuro);
    border-bottom: 2px solid var(--acento);
}
body.claro header p{
    color: var(--cafe-tostado);
}
body.claro nav{
    background-color: var(--cafe-tostado);
}
body.claro nav a{
    color: var(--crema);
}
body.claro main{
    background-color: #ffffff;
    color: var(--cafe-oscuro);
    border-color: var(--cafe-tostado);
}
body.claro label{
    color: var(--cafe-oscuro);
}
body.claro input,
body.claro textarea{
    background-color: var(--crema);
    color: var(--cafe-oscuro);
}
body.claro .tarjeta{
    background-color: #ffffff;
}
body.claro .tarjeta h1{
    color: var(--cafe-tostado);
}
body.claro article{
    background-color: #ffffff;
}
body.claro article h2{
    color: var(--cafe-tostado);
}
body.claro form label{
    color: var(--cafe-oscuro);
}

.oculto { display: none; }
.error { display: block; color: #c0392b; font-weight: bold; }
.exito { display: block; color: #27ae60; font-weight: bold; }
